*{
margin: 0;
padding: 0px;
box-sizing: border-box;

}
html,body{
  height: 100%;
  width:100%;
  scroll-behavior: smooth;
}
section {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 60px;
  font-family: rubik, arial;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  /* background-color: rgb(217, 78, 24); */
  background: transparent;
  transition: background-color 0.5s ease;
  color: white;
  z-index: 50;
}

.navbar.scrolled{
  background-color: rgb(217, 78, 24);
  backdrop-filter: blur(10px);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding: 5px 0px 0px 120px;

}

.logo a{
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
  margin-right: 50px;
  padding: 5px 20px 0px 0px;
  justify-content: space-evenly;
}

.nav-links li {
  margin-left: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: rgb(200, 200, 200);
}

.header{
  margin: 330px auto 0px;
  height: 200px;
  max-width: 870px;
  padding: 0px ;
  background-color: transparent;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.bg-video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-info{
  color: white;
  text-align: center;
  font-family: raleway, arial;;
  font-weight: 400;
  font-size: 19px;
  box-sizing: border-box;
}

.header-info h1{
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}
.read-more{
  background-color: seashell;
  padding: 17px 45px;
  border: 1px solid green;
  font-family: raleway, arial;
  display: inline-block;
  justify-content: center;
  margin-top: 25px;
  position: relative;
  overflow: visible;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  cursor: pointer;
}
.read-more a{
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: green;
  z-index: 2;
}


.read-more a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.5s ease-in-out;
}

.read-more:hover a::after {
  width: 100%;
}


.read-more:hover{
  background-color: green;
  color: seashell;
}

.read-more:hover a{
  color: seashell
}

.hero{
  position: sticky;

  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 1;
  width: 100%;
  margin-top: 205px;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  
}
.hero {
  display: flex;
  overflow: visible;
  gap: 30px;
  background-color: rgb(253, 246, 227);
  height: 450px;
}




.card{
  width: 300px;
  height: 200px;
  top: 20px;
  left: 20px;
  right:20px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.5s ease-in-out;
  transform-origin: left center;
  cursor: pointer;
  font-family: raleway, arial;
  border: 2px solid rgb(231, 111, 81);
}

.card.left{
  transform-origin: left center;
}
.card.center{
  transform-origin: center center;
}
.card.right{
  transform-origin: right center;
}


#heritage{
  background-image: url('https://s7ap1.scene7.com/is/image/incredibleindia/2-mehrangarh-fort-jodhpur-rajasthan-city-hero?qlt=82&ts=1726660925514');
}

#festival{
  background-image: url('https://cdn.theatlantic.com/thumbor/lDxiYTK6wC5h_jF3-RDgBM9e_7U=/1200x792/media/img/photo/2011/09/hindu-festivals/h01_RTR2R4OI/original.jpg');
}

#travel{
  background-image: url('https://coder024.github.io/Indian-Culture/images/fiji-surprise/f3.jpg');
}

.card-overlay{
  background-color:rgba(0, 0, 0, 0.295) ;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card-content{
  position: relative;
  z-index: 3;
  color: white;
  padding: 20px;
}

.card-content h2{
  font-size: 28px;
  z-index: 99;
}

.card-content .more-info{
  display: none;
  margin-top: 10px;
  font-size: 0.9rem;
}

.card:hover{
  width: 600px;
  height: 350px;
  transition:all 0.5s ease-in-out;
}
.card.left:hover {
  transform: scaleX(1.1);
}

.card.center:hover {
  transform: scaleX(2);
}

.card.right:hover {
  transform: scaleX(1.1);
}

.card:hover .summary{
  display: none;
}

.card:hover .more-info{
  display: block;
  align-items: center;
  margin: 60px 40px 40px 40px;
  font-size: 1.2rem;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 7px;
  padding: 20px;
}

.card:hover h2{
  font-size: 28px;
  letter-spacing: 0.1rem;
}



.main{
  display: flex;
  flex-direction: row;
  max-height: max-content;
  
}


.info{
  width: 100%;
  height: max-content;
  position: relative;
  top: -70px;
  padding-bottom: 50px;
  margin-bottom: -70px;
  left: 0;
  z-index: 0;
  background-color: rgb(253, 246, 227);
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  height: 350px;
  margin:70px auto;
  margin-bottom: 0px;;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  gap: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 20px;
  background-color: rgb(57, 124, 113);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
}

.slider-container.reverse{
  margin-left: auto;
  margin-right: 10px;
}

.image-section {
  display: flex;
  align-items: center;
  gap: 10px;         
  margin-right: 20px;
}

.image-section img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-section button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 10px;
}

.image-section button:hover {
  background-color: #eee;
}

.info-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  padding-left: 10px;
  position: relative;
  box-sizing: border-box;
}

.info-section h2 {
  font-family: Freboka, raleway;
  font-size: 28px;
  margin: 0px;
  margin-top: -30px;
  padding: 0px;
  flex-shrink: 0;  
  display: block;
  position: sticky;
  height: 50px;
  line-height: 50px;
  top: 0;  
  z-index: 1;      
}

.info-section p {
  flex: 1;   
  width: 100%;
  height: 90px;
  margin: 0px;
  padding: 20px;
  font-family: Raleway;
  background-color: rgb(224, 224, 224);
  overflow: auto;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.229);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  box-sizing: border-box;
  }

.slider-container .reverse {
  flex-direction: row-reverse;
}


.city{
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0rem;
  padding: 1.5rem;
  line-height: 1.5rem;

  background-color: rgba(31, 52, 123, 0.478);
  box-sizing: border-box;
  text-decoration: none;
}

.city-container{
  width: 1150px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-items: center;
}
.city-container h2{
  font-family: raleway, arial;
  font-weight: 600;
  font-size: 24px;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.city-card-wrapper{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  width: 120ch;

  padding-left: 1rem;
  padding-right: 1rem;
  
}

.city-card-wrapper h3{
  padding-left: 1.5rem;
  font-size: 23px;
}

.c-card{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 400px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.c-card:hover{
  width: 105%;
  height: 105%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 1);
}

.c-card a{
  font-size: larger;
}
.c-card p{
  padding-left: 1.5rem;
}
.c-card a, .c-card p, .c-card h3{
  text-decoration: none;
  color: rgb(147, 90, 32);
  font-family: raleway, arial;
  transition: all 0.8s ease-in-out;
}

.c-card:hover a, .c-card:hover p, .c-card:hover h3{
  color: rgb(217, 78, 24);
  transform: translateY(10px);
}

.c-card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  object-fit: cover;
  max-height: max(10rem, 30vh);
  aspect-ratio: 4 / 3;
  transition: transform 0.5s ease-in-out;
}
.c-card:hover img{
  transform: scale(1.1);
}


.gallery-container h2{
  font-family: Fredoka;
  font-weight: 600;
  font-style: bold;
  font-size: 36px;
  padding: 50px 0px 20px 40px;
}

.masonry {
  column-count: 4;
  column-gap: 16px;
  padding: 20px;
  padding-top: 15px;
}

.masonry img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  display: block;
}

.spacer{
  height: 290px;
  background: black;
}

footer{
  border-top: 5px solid green;
  height: max-content;
}
  
.footer-container{
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: raleway, froboko;
}
.footer-container a, .footer-container ul{
  text-decoration: none;
  list-style: none;
  
}

.footer-par{
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 50px 0px;
}
.footer-par h2{
  display: inline-block;
  font-size: 25px;
  color: rgb(51, 51,  51);
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.footer-par a{
  display:  inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px;
  color: rgb(51, 51,  51);
  transition: all 0.6s ease-in;
}

.footer-1{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.footer-1 h2{
  color: green;
  font-size: 28px;
  font-family: Raleway, arial;
  font-weight: 700;
}

.footer-end{
  margin: 50px 0px 0px 0px;
  padding: 15px 0px;
  background-color: green;
  color: white;
  text-align: center;
  font-family: raleway, froboko;
  letter-spacing: 0.25rem;
  font-weight: bold;
}